html {
    background: #018DED url(gigs.jpg);
    background-size: cover;
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    text-align: center;
    font-size: 10px;
    color: white;
}


body {
    margin: 0;
    font-size: 2rem;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex: 1; */
    /* height: 100vh; */
    /* align-items: center; */
    /* justify-content: center; */
    overflow: hidden;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head, .clock, .foot{
    height: 33%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    flex-direction: column;
}

.head h1{
    margin: 0;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid white;
    border-radius: 50%;
    /* margin: auto; */
    position: relative;
    padding: 2rem;
    box-shadow:
        0 0 0 4px rgba(0, 0, 0, 0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand, .hour-hand {
    transition: all 0.5s;
}